html {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#shapesInfo {
    margin: 10px;
}

#shapesNum, #shapesArea {
    display: inline-block;
    width: 125px;
}

canvas {
    display: block;
}

.inputBlock {
    display: inline-block;
    margin: 10px 60px 0 10px;
}

.inputDesc {
    display: block;
    margin-bottom: 10px;
}

#generationFrequencyInput {
    margin-right: 32px;
}

#generationFrequencyInput, #gravityInput {
    display: inline-block;
    width: 80px;
}