#shapesNum, #shapesArea {
    display: inline-block;
    width: 128px;
}

#shapesPerSecondInput {
    margin-right: 32px;
}

#shapesPerSecondInput, #gravityInput {
    display: inline-block;
    width: 80px;
}